.wrapper{
    max-width: 1200px;
    margin: 0 auto;

}
body{
    background: rgb(202, 202, 202);
}
#container{
    display: flex;
    flex-wrap: wrap;
}

.cinemuz-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 10px 10px 10px rgb(113, 113, 112);
    background: rgb(171, 170, 170);
    z-index: 999999;
    height: 140px;    
  color: rgb(252, 252, 252);
  text-align: center;
  font-family: 'Playfair Display', serif;
   
}

.cinemuz-header .logo {
  font-size: 42px;
  margin-top: 35px;
  font-weight: bold;
 }

.cinemuz-header .tagline {
  font-size: 20px;
  margin-top: 5px;
  font-weight: 400;
  opacity: 0.9;
 }


#input{
    width: 87%;
    padding: 10px;
    margin-top: 50px;
    border-radius: 8px;
    border-color: cadetblue;
    box-shadow: 3px 3px 3px 3px cadetblue;
    margin-bottom: 40px;
    transition: all 0.7s ease-in-out;
}
#input:hover{
    transform: scale(0.9);
}
.card{
    width: 300px;
    height: 400px;
    background: darkgrey;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    color: white;
    transition: all 0.8;
    box-shadow: 3px 3px 3px 3px rgb(114, 114, 114);
    margin-bottom: 60px;
 }
.card:hover{
    transform: scale(0.9);
    background: rgb(206, 204, 204);
}

.button:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

a{
    color: white;
    padding: 10px 30px;
    background: blue;
    border-radius: 5px;
}